body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  background-color: #f4f4f4;
}

/* AQUI EMPIEZA EL HEADER */
.header{
    background-color: #1f2937;
    width: 100%;
}

.header-content{

    display: flex;
    justify-content: space-between; /* Logo a la izq, Nav a la der */
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 20px;
}

.logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
}

.nav ul {
    list-style: none;
    display: flex;    
    gap: 24px;        
    margin: 0;
    padding: 0;
}

.nav a{
  text-decoration: none; /* Quita el subrayado */
    color: #f9faf8;
    font-weight: 500;
    transition: color 0.3s ease; 
}
/* AQUI TERMINA EL HEADER */



/* AQUI EMPIEZA EL BANNER */

.hero-section {
    background-color: #1f2937; 
    width: 100%;
    padding: 100px 0; 
}

.hero-container {
    display: flex;
    justify-content: space-between; /* Alinea texto a la izq e imagen a la der */
    align-items: center; 
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;   
    padding: 0 20px;
}

.banner {
    flex: 1; 
}

.banner p {
    font-size: 1.125rem;
    color: #e5e7eb; 
    margin-bottom: 10px;
    flex: 0 1;
}


/* EL LADO DERECHO (Imagen) */
.contentimage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    border-radius: 8px;        
    min-height: 200px;         
}

.banner h1 {
    color: #f9faf8;
    font-size: 2.25rem;
    margin: 0;
}

.btn {
    display: inline-block; 
    margin-top: 20px;
    background-color: #3882f6; 
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 8px; 
    text-decoration: none; 
    font-weight: bold;
    font-size: 1.1rem;
}


/* AQUI TERMINA EL BANNER */


/* AQUI EMPIEZA EL CONTENIDO DE TARJETAS */
.content-card h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #222;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/* ===== CADA ITEM (tarjeta + texto debajo) ===== */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

/* ===== TARJETA (cuadro blanco) ===== */
.card {
    width: 100%;
    height: 150px;
    background: #faf6e8;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #5b90c2;
    border-radius: 10px;
    
}

/* ===== TEXTO DEBAJO DE LA TARJETA ===== */
.item p {
    font-size: 14px;
    color: #555;
    text-align: center;
    line-height: 1.4;
    margin: 0;
}


/* ===== BANNER CON FRASE ===== */

.testimonial-section {
    background-color: #E5E7EB; 
    width: 100%;
    padding: 80px 0; 
} 

.testimonial{
    
    max-width: 900px;
    margin: 0 auto;   
    padding: 0 36px;
    text-align: center; 

} 

.testimonial p {

    color: #1F2937;
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.4;


}



/* ===== SECCIÓN DE FOOTER ===== */

.footer-content {
    /* 1. Mantenemos el centrado*/
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #3882f6; 
    padding: 40px;
    border-radius: 8px;
    border: 3px; 

    display: grid;
    

    grid-template-columns: 1fr auto; 
    
    
    align-items: center; 
}


.footer-content h3 {
    grid-column: 1; 
    grid-row: 1;    
    text-align: left; 
    color: #f9faf8;
    font-size: 1.5rem;
    margin: 0 0 5px 0;
}

/* EL PÁRRAFO (Fila 2, Columna 1) */
.footer-content p {
    grid-column: 1; 
    grid-row: 2;    
    text-align: left;
    color: #e5e7eb;
    font-size: 16px;
    margin: 0;
}

/* EL BOTÓN (Columna 2) */
.footer-content .btn {
    grid-column: 2;
    grid-row: 1 / span 2; 
    
    /* Tus estilos limpios */
    display: inline-block;
    background-color: transparent;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 8px; 
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
}


/* ===== SECCIÓN DE FOOTER 2 ===== */

.footer-bass{

    background-color: #1f2937;
    color: #E5E7EB;
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

